<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ufu.blabla"
        versionCode="14" 
        version   = "2.0.0">

    <!-- versionCode is optional and Android only -->

    <name>BlaBla-UFU</name>

    <description>
      BlaBla! Um chat dinâmico é totalmente anônimo para os Universitários da UFU. 
    </description>

    <author href="https://facebook.com/adilmarcoelho" email="adilmarcoelho@hotmail.com">
        Adilmar Coelho Dantas
    </author>
	
	
	
	 <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="hdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="xhdpi" />
	
	
	 <!-- SPLASH SCREENS -->
<gap:splash src="img/splash.png" /> <!-- default 320x480 pixels -->
<gap:splash src="img/splash1.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
<gap:splash src="img/splash2.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
<gap:splash src="img/splash3.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
<gap:splash src="img/splash4.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->

    
	

</widget>
